## Machine Learning

### Importing Libraries

In [12]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import Ridge
from sklearn.utils import shuffle

### Loading Dataset

In [5]:
all_data = pd.read_csv('../Data Cleaning/cleaned_data.csv')
all_data.columns

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'charges'], dtype='object')

### Data Preprocessing

1- Shuffling the data to reduce the bias.
######
2- One hot encoding (get_dummies) in order to deal with the categorical values.

In [36]:
all_data = shuffle(all_data)

all_data_dum = pd.get_dummies(all_data)
all_data_dum

,age,bmi,children,smoker,charges,sex_female,sex_male,region_northeast,region_northwest,region_southeast,region_southwest
337,62,27.550,1,0,13938.0,0,1,0,1,0,0
1172,56,41.910,0,0,11094.0,1,0,0,0,1,0
805,45,35.815,0,0,7732.0,1,0,0,1,0,0
894,62,32.110,0,0,13555.0,0,1,1,0,0,0
763,27,26.030,0,0,3071.0,0,1,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
1275,57,23.700,0,0,10959.0,0,1,0,0,0,1
223,19,34.800,0,1,34780.0,0,1,0,0,0,1
1200,37,24.320,2,0,6199.0,0,1,0,1,0,0
16,52,30.780,1,0,10797.0,1,0,1,0,0,0
312,43,35.970,3,1,42125.0,0,1,0,0,1,0

### Train, Test Splitting

In [31]:
X = all_data_dum.drop(columns=['charges'])
y = all_data_dum[['charges']]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42, shuffle=True)

### Model Building

In [32]:
from sklearn.ensemble import RandomForestRegressor

clf = RandomForestRegressor(n_estimators = 100).fit(X_train, y_train)

C:\Users\pc\AppData\Local\Temp/ipykernel_8720/1822581462.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  clf = RandomForestRegressor(n_estimators = 100).fit(X_train, y_train)

### Model Testing

In [33]:
#X_test.iloc[0]
clf.predict(np.array(list(X_test.iloc[10])).reshape(1,-1))

array([8060.69])

### Model Evaluation

In [34]:
clf.score(X_test, y_test, sample_weight=None)

0.830720668353328

In [35]:
from sklearn.metrics import r2_score

prediction = clf.predict(X_test)
r2_score(y_test, prediction)

0.830720668353328